:root{
  --primary:#abd1b0;
  --primaryDark:#7ba081;
  --primaryLight:#ddffe2;
}
.name{
  background-color: var(--primary);
  font-family: century gothic;
}
.navbar{
  background-color: var(--primaryDark);
  opacity: 0.9;
  padding-left: 1em;
}
.subtitle{
  font-family: century gothic;
  text-align: center;
}
.introImage img{
  width: 200px;
  height: 200px;
}
.quote{
  position: sticky;
  animation-name: slideLeft;
  animation-duration: 6s;
  animation-iteration-count: 2;
  animation-delay: 4s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
@keyframes slideLeft{
  from{transform: translateX(0%);}
  to{transform: translateX(-250%);}
}
.quote2{
  position: sticky;
  animation-name: slideRight;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
@keyframes slideRight{
  from{transform: translateX(0%);}
  to{transform: translateX(-250%);}
}


.major, .department{
  text-align: center;
  display: block;
}
.rounded-circle{
  border: 2px solid #7ba081;
  box-shadow: 0px 3px 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.text{
  font-family: century gothic;
}
.text2{
  font-family: century gothic;
}
.col{
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
.card{
  padding-top: 0px;
  padding-left: 10px;
  height: auto;
  margin-left: 100px;

}






/*-- FOOTER --*/
.footer{
  background-color: var(--primaryDark);
}
